# Windows image file caches
//            printf("%d\n", tokens->lino);
//            printf("%s\n", tokens->head);
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# =========================
# database files I think we don't need
# =========================
*.frm
*.ibd
*.MYD
*.MYI

ib_buffer_pool
ib_logfile*
ibdata*
ibtmp*
auto.cnf

db.opt

*.TRG


# =========================
# Excess python
# =========================

# django stuff
*.log
*.pot
**/migrations/**
selenium/*


# compiled python
*.pyc
*.pyo

# vim swap files
*.swp
