<h1> Task </h1>
<h2> {{task.fields.description}} </h2>
<h2> Owners </h2>
{% if owners %}
    <ul>
    {% for user in owners %}
        <li><a href="/user/{{ user.pk }}/">{{ user.fields.fname }} {{user.fields.lname}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No owners for this task</p>
{% endif %} 
<h2> Workers </h2>
{% if workers %}
    <ul>
    {% for user in workers %}
        <li><a href="/user/{{ user.pk }}/">{{ user.fields.fname }} {{user.fields.lname}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No workers for this task</p>
{% endif %}
<h2> Required Skills </h2>
{% if skills %}
    <ul>
    {% for i in skills %}
        <li>{{ i.fields.skill }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No skills for this task</p>
{% endif %}
<h2> Reviews </h2>
{% if reviews %}
    <ul>
    {% for review in reviews %}
        <li><a href="/review/{{ review.pk }}/">{{ review.fields.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No reviews are available.</p>
{% endif %}