<!DOCTYPE html>
<html lang="en">

    <head>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
        <link href="/static/css/project.css" rel="stylesheet">
        <link href="/static/css/bootstrap-tagsinput.css" rel="stylesheet">


        <script src="http://code.jquery.com/jquery-latest.js"></script>
        
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/setup.js"></script>
        <script src="/static/js/bootstrap-tagsinput.js"></script>


    </head>
    <body>
        <div id="navbar"></div>
        <div id="authPresent" data-auth={{auth}}></div>
        {% if errors %}
            <div class="alert alert-danger" role="alert" style="margin-top:70px">{{errors}}</div>
        {% endif %}

        {% if success %}
                <div class="alert alert-success" role="alert" style="margin-top:70px">{{success}}</div>
        {% endif %}
        
        <div class="page-header">
            <h1>Create Listing</h1>
        </div>
        <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <form action="/createListing/" method="post">
                    {% for field in form %}
                        {% if field.label == "Status"  %}
                            <div class="form-group">
                                <label for="Status">Status: </label>
                                <select id="status" type="text" name="status" class="form-control">
                                    <option value="ACC.">Accepted</option>
                                    <option value="DONE">Done</option>
                                    <option value="OPEN">Open</option>
                                </select><br>
                            </div>
                        {% elif field.label == "remote" %}
                            <div class="form-group">
                                <label for="remote">Remote: </label><br>
                                <input type="radio" name="remote" id="remote" value="remote"> Yes<br>
                                <input id="remote" type="radio" name="remote" value="no"> No<br>
                            </div>
                        {% elif field.label == "pricing_type" %}
                            <div class="form-group">
                                <label for="pricing_type">Pricing Type: </label><br>
                                <input type="radio" name="pricing_type" id="pricing_type" value="Lump"> Lump Sum<br>
                                <input id="pricing_type" type="radio" name="pricing_type" value="Hourly"> Hourly<br>
                            </div>
                        {% else %}
                            <div class="form-group">
                                <label for="{{field.name}}">{{field.label}}: </label>
                                <input id="{{field.name}}" type="text" name="{{field.name}}" class="form-control">
                            </div>
                        {% endif %}
                    {% endfor%}
                    <div class="form-group">
                        <label for="required_skills">Required Skills: </label>
                        <input id="required_skills" type="text" name="required_skills" class="form-control" data-role="tagsinput"><br>
                    </div>
                    <input type="submit" value="OK">
                </form>
              </div>
            </div>
        </div>
        
    <script src="/static/js/bootstrap.js"></script>
    </body>
</html>