{% extends 'web_app/base.html' %}

{% block content %}
    <div class="col-sm-12">
    <div class="jumbotron">
      <h1>TaskTic</h1>
      <p>A Micro-Consulting Service</p>
    </div>
    </div>
    <div class="col-sm-12">
    <div class="page-header">
      <h2>Top Rated Users</h2>
    </div>
    </div>
      <div class="row">
        {% for user in top_users_list %}
        <div class="col-sm-4">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <b>Name: </b> {{ user.fname }} {{user.lname }} <br/>
                    <b>Email: </b> {{ user.email}} <br/>
                    <b>Location: </b> {{user.location}} <br/>
                    <a class = "btn btn-primary" href="/user/{{ user.id }}/" role="button">Visit Page</a>
                </div>
            
                 
            </div>
        </div>
        </div>
        {% endfor %}
        
      </div>



    <div class="col-sm-12">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <h3 class="panel-title">Most Recent Tasks</h3>
        </div>

        <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Role</th>
                    <th>Visit Page </th>
                </tr>
            </thead>
            <tbody>
            {% for task in recent_listings_list %}
                <tr>
                    <td> {{task.title}}</td>
                    <td> {{task.location}}</td>
                    <td> {{task.status}}</td>
                    <td> Owner </td>
                    <td> <a class = "btn btn-primary" href="/task/{{ task.id }}/" role="button">Go</a> </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    </div>
{% endblock %}
