{% extends 'web_app/base.html' %}

{% block content %}
    <div class="page-header">
        <h1 id="profile_title">Profile
          {% if auth == 'yes' %}
                <a class = "btn btn-primary pull-right" href="/createTask/" role="button">Create New Task</a>
            {% endif %}
        </h1>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="panel-title">Reviews You Need to Add</h3>
            </div>

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>User</th>
                        <th>Create Review</th>
                    </tr>
                </thead>
                <tbody>
                {% for pair in neededReviews %}
                    <tr class="neededReview">
                        <td> {{pair.0.title}}</td>
                        <td> {{pair.1.fname}} {{pair.1.lname}}</td>
                        <!-- <td>1</td>
                        <td>2</td> -->

                        <td> <button type="button" class="btn btn-primary createReviewButton" data-toggle="modal" data-target="#reviewModal" data-poster="{{userID}}" data-postee="{{pair.1.id}}" data-task="{{pair.0.id}}">Create</button> </td>
                    </tr>
                {% endfor %}
                
                </tbody>

            </table>
        </div>
    </div>
    

    <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">New Review</h4>
          </div>
          <form id="create-review-form">
              <div class="modal-body">
                    <input type="hidden" name="poster_user" id="posterField">
                    <input type="hidden" name="postee_user" id="posteeField">
                    <input type="hidden" name="task" id="taskField">
                  <div class="form-group">
                    <label for="score" class="control-label">Score:</label>
                    <select type="text" class="form-control" id="score" name="score">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="message-title" class="control-label">Title:</label>
                    <input type="text" class="form-control" id="message-title" name="title">
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="control-label">Message:</label>
                    <textarea class="form-control" id="message-text" name="body"></textarea>
                  </div>
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Create Review" id="create_review">
              </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}