<!DOCTYPE html>
<html lang="en">

	<head>
		<link href="/static/css/bootstrap.css" rel="stylesheet">
		<link href="/static/css/bootstrap-theme.css" rel="stylesheet">
		<link href="/static/css/project.css" rel="stylesheet">

		<script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/static/js/setup.js"></script>


	</head>
	<body>
		<div id="navbar"></div>
		<div id="authPresent" data-auth={{auth}}></div>
		
		{% if errors %}
                <div class="alert alert-danger" role="alert" style="padding-top:70px">{{errors}}</div>
        {% endif %}

		<div class="page-header">
  			<h1>Review - {{review.title}} </h1>
		</div>
		<div class="col-sm-12">
			<div class="panel panel-default">
			  <div class="panel-body">
			    {{review.body}} <br> <br>
			    <b>Score:  </b> {{ review.score}}
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
			<div class="col-sm-12">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Reviewer</h3>
				  </div>
				  <div class="panel-body">
				    {% if poster %}
				    	<b>Name: </b> {{ poster.fname }} {{poster.lname }} <br/>
				    	<b>Email: </b> {{ poster.email}} <br/>
				    	<b>Location: </b> {{poster.location}} <br/>
					    <a class = "btn btn-primary" href="/user/{{ poster.id }}/" role="button">Visit Page</a>
					{% else %}
					    <p>No Poster is available.</p>
					{% endif %}
				  </div>
				</div>
			</div>
			</div>
			<div class="col-sm-6">
			<div class="col-sm-12">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Reviewee</h3>
				  </div>
				  <div class="panel-body">
				    {% if postee %}
					    <b>Name: </b> {{ postee.fname }} {{postee.lname }} <br/>
				    	<b>Email: </b> {{ postee.email}} <br/>
				    	<b>Location: </b> {{postee.location}} <br/>
					    <a class = "btn btn-primary" href="/user/{{ postee.id }}/" role="button">Visit Page</a>
					{% else %}
					    <p>No Postee is available.</p>
					{% endif %}
				  </div>
				</div>
			</div>
			</div>
		</div>
		<div class="col-sm-12">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Task</h3>
			  </div>
			  <div class="panel-body">
			    {% if task %}
				    <b>Title: </b> {{ task.title }} <br/>
			    	<b>Description: </b> {{ task.description}} <br/>
			    	<b>Location: </b> {{task.location}} <br/>
			    	<b>Status: </b> {{task.status}} <br/>
				    <a class = "btn btn-primary" href="/task/{{ task.id }}/" role="button">Visit Page</a>
				{% else %}
				    <p>No Postee is available.</p>
				{% endif %}
			  </div>
			</div>
		</div>
		
	<script src="/static/js/bootstrap.js"></script>
	</body>
</html>
