<form action="/signup/" method="post">
    <label for="first_name">First name: </label>
    <input id="first_name" type="text" name="first_name" value="{{ first_name }}">
    <label for="last_name">Last name: </label>
    <input id="last_name" type="text" name="last_name" value="{{ last_name }}">
    <label for="location">Location: </label>
    <input id="location" type="text" name="location" value="{{ location }}">
    <label for="bio">Biography: </label>
    <input id="bio" type="text" name="bio" value="{{ bio }}">
    <label for="email">Email: </label>
    <input id="email" type="text" name="email" value="{{ email }}">
    <label for="pw">Password: </label>
    <input id="pw" type="password" name="pw" value="{{ pw }}">
    <input type="submit" value="OK">
</form>