<form action="/signup/" method="post">
	<label for="username">Username: </label>
    <input id="username" type="text" name="username" value="{{ username }}">
    <label for="fname">First name: </label>
    <input id="fname" type="text" name="fname" value="{{ fname }}">
    <label for="lname">Last name: </label>
    <input id="lname" type="text" name="lname" value="{{ lname }}">
    <label for="location">Location: </label>
    <input id="location" type="text" name="location" value="{{ location }}">
    <label for="bio">Biography: </label>
    <input id="bio" type="text" name="bio" value="{{ bio }}">
    <label for="email">Email: </label>
    <input id="email" type="text" name="email" value="{{ email }}">
    <label for="pw">Password: </label>
    <input id="pw" type="password" name="pw" value="{{ pw }}">
    <input type="submit" value="OK">
</form>