<!DOCTYPE html>
<html lang="en">

    <head>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
        <link href="/static/css/project.css" rel="stylesheet">

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/setup.js"></script>


    </head>
    <body>
        <div id="navbar"></div>
        <div id="authPresent" data-auth={{auth}}></div>

        {% if errors %}
                <div class="alert alert-danger" role="alert" style="margin-top:70px">{{errors}}</div>
        {% endif %}

        {% if success %}
                <div class="alert alert-success" role="alert" style="margin-top:70px">{{success}}</div>
        {% endif %}
        
        <div class="page-header">
            <h1>Task - {{ task.title}} </h1>
        </div>
        <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <b>Description: </b> {{task.description}} <br> <br>
                <b>Status: </b> {{task.status}}<br><br>
                <b>Location: </b> {{task.location}}
              </div>
            </div>
        </div>

         
        <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">User Skills</h3>
              </div>
              
              {% if skills %}
                <ul class="list-group">
                {% for i in skills %}
                    <li class="list-group-item">{{ i.skill }}</li>
                {% endfor %}
                </ul>
                {% else %}
                <div class="panel-body">
                    <p>This Task Requires no Skills</p>
                </div>
                {% endif %}
            
            </div>
        </div>
            
        </div>
        <div class="col-sm-12">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="panel-title">User Associated with this Task</h3>
            </div>

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Location</th>
                        <th>Role</th>
                        <th>Visit Page </th>
                    </tr>
                </thead>
                <tbody>
                {% for user in owners %}
                    <tr>
                        <td> {{user.fname}} {{user.lname}}</td>
                        <td> {{user.email}}</td>
                        <td> {{user.location}}</td>
                        <td> Owner </td>
                        <td> <a class = "btn btn-primary" href="/user/{{ user.id }}/" role="button">Go</a> </td>
                    </tr>
                {% endfor %}
                {% for user in workers %}
                    <tr>
                        <td> {{user.fname}} {{user.lname}}</td>
                        <td> {{user.email}}</td>
                        <td> {{user.location}}</td>
                        <td> Worker </td>
                        <td> <a class = "btn btn-primary" href="/user/{{ user.id }}/" role="button">Go</a> </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        </div>
        <div class="col-sm-12">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="panel-title">Reviews Associated with this Task</h3>
            </div>

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Score</th>
                        <th>Visit Page </th>
                    </tr>
                </thead>
                <tbody>
                {% for review in reviews %}
                    <tr>
                        <td> {{review.title}}</td>
                        <td> {{review.score}}</td>
                        <td> <a class = "btn btn-primary" href="/review/{{ review.id }}/" role="button">Go</a> </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        </div>


    <script src="/static/js/bootstrap.js"></script>
    </body>
</html>
