{% extends 'web_app/base.html' %}

{% block content %}
        
        <div class="page-header">
            <h1>All Tasks 
            {% if auth == 'yes' %}
                <a class = "btn btn-primary pull-right" href="/createListing/" role="button">Create New Listing</a>
            {% endif %}
            </h1>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="panel-title">User Tasks</h3>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th>Role</th>
                        <th>Visit Page </th>
                    </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <td> {{task.title}}</td>
                        <td> {{task.location}}</td>
                        <td> {{task.status}}</td>
                        <td> Worker </td>
                        <td> <a class = "btn btn-primary" href="/task/{{ task.id }}/" role="button">Go</a> </td>

                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
{% endblock %}