<h1> User </h1>
<h2> {{ user.fname}} {{user.lname}} </h2>
<h2> Spoken Languages </h2>
{% if languages %}
    <ul>
    {% for i in languages %}
        <li>{{ i.spoken_language }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No spoken languages</p>
{% endif %} 
<h2> User Skills </h2>
{% if skills %}
    <ul>
    {% for i in skills %}
        <li>{{ i.skill }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>This user has no skills</p>
{% endif %}
<h2> Projects they own </h2>
{% if owner %}
    <ul>
    {% for task in owner %}
        <li><a href="/task/{{ task.id }}/">{{ task.description }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Have not worked on any tasks</p>
{% endif %}
<h2> Projects they have worked on </h2>
{% if worker %}
    <ul>
    {% for task in worker %}
        <li><a href="/task/{{ task.id }}/">{{ task.description }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Have not worked on any tasks</p>
{% endif %}
<h2> Reviews they created </h2>
{% if reviewer %}
    <ul>
    {% for review in reviewer %}
        <li><a href="/review/{{ review.id }}/">{{ review.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No reviews are available.</p>
{% endif %}
<h2> Reviews about this user </h2>
{% if reviewee %}
    <ul>
    {% for review in reviewee %}
        <li><a href="/review/{{ review.id }}/">{{ review.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No reviews are available.</p>
{% endif %}
