{% extends 'web_app/base.html' %}

{% block content %}
        
        <div class="page-header">
            <h1>All Users </h1>
        </div>
        <div class="col-sm-12">
            <div class="jumbotron" id="searchOptions" style="padding-top:10px; padding-bottom:10px">
              <div style="display:block;" id="basicSearchBlock">
                  <h3 style="margin-left:20px">Basic Searching</h3>
                  <form class="navbar-form" role="search" action="/user/">
                    <input type="hidden" name="type" value="user">
                    <div class="input-group">
                        <div>
                            <input type="text" class="form-control" placeholder="Search" name="all" id="all">
                            <button class="btn btn-default" type="submit">Search</button>
                        </div>
                    </div>
                  </form>
                  <div style="margin-left:20px">
                      <p> -or- </p>
                      <p><button class="btn btn-default" id="switchToAdvanced">Advanced Search </button></p>
                  </div>
              </div>
              <div style="display:none;" id="advancedSearchBlock">
                  <h3 style="margin-left:20px">Advanced Searching</h3>
                  <form class="navbar-form" role="search" action="/user/">
                    <input type="hidden" name="type" value="user">
                    <div class="input-group" id="advancedSearchForm" count="1">
                        <div class="lastInput" id="1">
                            <input type="text" class="form-control" placeholder="Search" name="username" id="input1">
                            <select class="form-control fieldInput" id="field1">
                                <option value="username">Username</option>
                                <option value="name">Name</option>
                                <option value="email">Email</option>
                                <option value="bio">Bio</option>
                                <option value="location">Location</option>
                            </select>
                            <button class="btn btn-default removeField" type="button" id="remove1">Remove Field</button>
                        </div>
                        

                    </div>
                    <br><button class="btn btn-default" id="addFieldButton" data-type="user">Add Field</button>
                    <button class="btn btn-default" type="submit">Search</button>
                  </form>
                  <div style="margin-left:20px">
                      <p> -or- </p>
                      <p><button class="btn btn-default" id="switchToBasic">Basic Search </button></p>
                  </div>
               </div>
            </div>
        </div>
        <div class="col-sm-12">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="panel-title">Users</h3>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Bio</th>
                        <th>Location</th>
                        <th>Visit Page </th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td> {{user.username}}</td>
                        <td> {{user.fname}} {{user.lname}}</td>
                        <td> {{user.email}}</td>
                        <td> {{user.bio}}</td>
                        <td> {{user.location}}</td>
                        <td> <a class = "btn btn-primary" href="/user/{{ user.id }}/" role="button">Go</a> </td>

                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        </div>
{% endblock %}