<!DOCTYPE html>
<html lang="en">

    <head>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
        <link href="/static/css/project.css" rel="stylesheet">

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/static/js/setup.js"></script>


    </head>
    <body>
        <div id="navbar"></div>
        <div id="authPresent" data-auth={{auth}}></div>

        {% if errors %}
                <div class="alert alert-danger" role="alert" style="margin-top:70px">{{errors}}</div>
        {% endif %}

        {% if success %}
                <div class="alert alert-success" role="alert" style="margin-top:70px">{{success}}</div>
        {% endif %}

        <div class="page-header">
            <h1>User - {{ user.fname}} {{user.lname}} </h1>
        </div>
        <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-body">
                {{user.bio}} <br> <br>
                <b>Email: </b> {{user.email}}<br><br>
                <b>Location: </b> {{user.location}}
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
            <div class="col-sm-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Spoken Languages</h3>
                  </div>
                    {% if languages %}
                        <ul class="list-group">
                        {% for i in languages %}
                            <li class="list-group-item">{{ i.spoken_language }}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <div class="panel-body">
                            <p>No spoken languages</p>
                        </div>
                    {% endif %} 
                </div>
            </div>
            </div>
            <div class="col-sm-6">
            <div class="col-sm-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">User Skills</h3>
                  </div>
                  
                  {% if skills %}
                    <ul class="list-group">
                    {% for i in skills %}
                        <li class="list-group-item">{{ i.skill }}</li>
                    {% endfor %}
                    </ul>
                    {% else %}
                    <div class="panel-body">
                        <p>This user has no skills</p>
                    </div>
                    {% endif %}
                
                </div>
            </div>
            </div>
        </div>
        <div class="col-sm-12">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="panel-title">User Tasks</h3>
            </div>

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th>Role</th>
                        <th>Visit Page </th>
                    </tr>
                </thead>
                <tbody>
                {% for task in owner %}
                    <tr>
                        <td> {{task.title}}</td>
                        <td> {{task.location}}</td>
                        <td> {{task.status}}</td>
                        <td> Owner </td>
                        <td> <a class = "btn btn-primary" href="/task/{{ task.id }}/" role="button">Go</a> </td>
                    </tr>
                {% endfor %}
                {% for task in worker %}
                    <tr>
                        <td> {{task.title}}</td>
                        <td> {{task.location}}</td>
                        <td> {{task.status}}</td>
                        <td> Worker </td>
                        <td> <a class = "btn btn-primary" href="/task/{{ task.id }}/" role="button">Go</a> </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        </div>
        <div class="col-sm-12">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="panel-title">User Reviews</h3>
            </div>

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Score</th>
                        <th>Role</th>
                        <th>Visit Page </th>
                    </tr>
                </thead>
                <tbody>
                {% for review in reviewer %}
                    <tr>
                        <td> {{review.title}}</td>
                        <td> {{review.score}}</td>
                        <td> Reviewer </td>
                        <td> <a class = "btn btn-primary" href="/review/{{ review.id }}/" role="button">Go</a> </td>
                    </tr>
                {% endfor %}
                {% for review in reviewee %}
                    <tr>
                        <td> {{review.title}}</td>
                        <td> {{review.score}}</td>
                        <td> Reviewee </td>
                        <td> <a class = "btn btn-primary" href="/review/{{ review.id }}/" role="button">Go</a> </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        </div>







    <script src="/static/js/bootstrap.js"></script>
    </body>
</html>
